<%- include("../partials/header") %>
<%- include("../partials/navbar") %> 
<%- include("../partials/footer") %> 

<main class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-6">Check Out</h1>
            <form action="/persons/<%=persons._id%>?_method=PATCH" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" value="<%= persons.name %>" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email" value="<%= persons.email %>" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone No.</label>
                    <input type="number" class="form-control" name="phone" id="phone" placeholder="Enter Phone Number" value="<%= persons.phone %>" required>
                </div>
                <div class="mb-3">
                    <label for="isAvailable" class="form-label">Available</label>
                    <input type="text" class="form-control" name="isAvailable" id="isAvailable" value="false">
                </div>
                <button type="submit" class="btn btn-success btn-small">Submit</button>
            </form>
        </div>
    </div>
</main>
